/* Media Queries */

/* 

For screen sizes which are 650px and above

*/
@media screen and (min-width: 40.62em) {
  .section_social_proof {
    padding-top: var(--space-6);
    padding-bottom: var(--space-7);

    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 

For screen sizes which are 1024 px and above.

*/

@media screen and (min-width: 64em) {
  .container {
    max-width: 120rem;
  }

  .social_proof {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 140px;
  }

  .social_proof_title {
    text-align: left;
    max-width: 43rem;
  }

  .social_proof_description {
    text-align: left;
  }

  .social_proof_card {
    display: flex;
    align-items: center;
    padding-right: var(--space-5);
    padding-left: var(--space-4);
    gap: 30px;
  }

  .social_proof_card:nth-child(1) {
    transform: translateX(-20%);
  }

  .social_proof_card:nth-child(2) {
    transform: translateX(-10%);
  }

  .star_ratings {
    margin-bottom: 0;
  }

  .testimonials {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonial_card:nth-child(2) {
    transform: translateY(5%);
  }

  .testimonial_card:nth-child(3) {
    transform: translateY(10%);
  }
}
